.escimar-carrousel img{
    height: 600px;
}
.escimar-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

}
.carousel-caption{
    top: 0;
    left: 20%;
    right: 20%;
    bottom: 0;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 601px) {

    .carousel-caption  h1{
        font-family: 'Montserrat', sans-serif;
        word-break: break-word;
        word-wrap: break-word;
        font-size: 4.5rem;
    }

    .carousel-caption  p{
        font-size: 1.5rem;
    }
}