.calendar-page td{
    padding: 0.8em;
}
.calendar-page th{
    padding: 0.8em;
}

#biologia-banner{
    background: url('../img/biologia-fondo.jpg');
    background-size: cover;
    background-position: bottom;
    
}
#calendario-banner{
    height: 200px;
    background: url('../img/calendario-3.jpg');
    background-size: cover;
    background-position: bottom;
    
}

.bg-biologia-dark{
    background-color: #323946;
}

.bg-biologia-blue{
    background-color: #3270bd;
}
.bg-biologia-light{
    background-color: #4fafe6;
}

.text-biologia-dark{
    color: #323946;
}
.text-biologia-blue{
    color: #3270bd;
}
.text-biologia-light{
    color: #4fafe6;
}

#img-preinscripcion{
    background: url('../img/inscripcion.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
}
/*    .inscripcion-header{
        background-color: #3DA3B9;
    }*/

.bg-title{
    background-color: rgb(0,0,0,0.4);
    /*opacity: 0.5;*/
}

.inscripcion-requisitos i{
    color: #4fafe6;
}

.inscripcion-requisitos li{
    list-style-type: none;
}

.media{
    /*height: 150px;*/
}

.featured-article{
    height: 450px;
}

.featured-article img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.media-object{
    height: 100%;
    object-fit: cover;
}

.social-menu-div
{
    position: absolute;
    bottom: 20px;
    left: 10%;
    right: 10%;
}

.social  .fa {
    font-size: 1.5em;
}

.nav-link{
    color: white !important;
}

.carousel img{
    max-height: 700px;
    object-fit: cover;
    object-position: calc;
}

.logo-escimar{
    height: 60px;
}

.container-blue{
    background-color: #1855A1;
    color: white;
}

.container-black a{
    color: white;
}
.container-blue a{
    color: white;
}

.container-black{
    /*background: #414956;*/
    background: #308496;
}

.container-green{
    background-color: #1f9fa4
}
.side-menu li{
    /*background: #414956;*/
    background: #308496;
    /*    background: linear-gradient(to bottom, 
            #1f9fa4 0%,
            #1f9fa4 100%
            );*/
}
.side-menu li.active{
    /*background: #3b424d;*/
    background: #205865;
}
.side-menu li :hover{
    /*background: #3b424d;*/
    background: #205865;
}
.side-menu>ul>li>a{
    /*border-bottom: solid 1px #3b424d;*/
    border-bottom: solid 1px #205865;
}
.side-menu{
    /*box-shadow: 0 10px 10px #333;*/
}

